<h1>KO and Angular Tree Demonstration</h1>
<h4>Try and drag the items on top of each other!</h4>

<div class='row-fluid'>
  <div data-bind-element='projects' class='span6'>
    <h2>KO</h2>

    <%= form_for(:project, html: { id: 'projects-form', 'data-bind' => 'submit: submitProject' }) do |f| %>
    <div class='input-append'>
      <%= f.text_field :name, placeholder: 'Enter an item', class: 'input input-xlarge', 'data-bind' => 'value: input, valueUpdate: "afterkeydown"' %>
      <%= f.hidden_field :grouping, value: 'Knockout' %>
      <%= f.submit "Create", { class: 'btn btn-success', 'data-bind' => 'enable: input().length > 0' } %>
    </div>
    <% end %>

    <ul class="nav nav-list" data-bind="template: {name: 'projects_template', foreach: projects}">
    </ul>

    <script type='text/html' id='projects_template'>
      <li data-bind="attr: {'data-id': $data.id, class: 'project-nav-li'}, droppable: $root">
        <span href='#' data-bind='html: "<a href=\"#\">" + name() + "</a>"'></span><span class='pull-right project-delete' data-bind='click: $root.deleteProject'><i class='icon-trash'></i></span>
      </li>
      <ul class="nav nav-list" data-bind="template: {name: 'projects_template', foreach: projects}">
      </ul>
    </script>
  </div>

  <div class='span6'>
    <h2>Angular</h2>

    <div ng-app="TreeApp">
      <div ng-controller="ProjectsController">
        <%= form_for(:project, html: { id: 'angular-projects-form', 'ng-submit' => 'submitProject()'}) do |f| %>
        <div class='input-append'>
          <%= f.text_field :name, placeholder: 'Enter an item', class: 'input input-xlarge', 'ng-model' => 'projectText' %>
          <%= f.hidden_field :grouping, value: 'Angular' %>
          <%= f.submit "Create", { class: 'btn btn-success', 'ng-disabled' => 'projectText == null || projectText.length <= 0' } %>
        </div>
        <% end %>

        <ngtree val="projects"></ngtree>
      </div>
    </div>
  </div>
</div>
